<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.UserMapper">
	
	
	
	<insert id="addUser" parameterType="User">
		insert into t_activemq_user(id,name,email,user_id,status) 
		values(#{id},#{name},#{email},#{userId},0)
	</insert>
	
	

</mapper>