<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.CarMapper">
	
	<!-- 添加车辆信息 -->	
	<insert id="addCar" parameterType="Car">
		INSERT INTO t_springmvc_car (
			brand, series, price, licensing_time,
			level, gearbox, output_volume,
			mileage,
			location,
			pic,
			summary,
			create_time
		) VALUES (
			#{brand},
			#{series},
			#{price},
			#{licensingTime},
			#{level},
			#{gearbox},
			#{outputVolume},
			#{mileage},
			#{location},
			#{pic},
			#{summary},
			NOW()
		)
	</insert>
	
	

</mapper>