<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 配置注解扫描器 -->
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
		<!-- 排除@Service,@Repository -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
	</context:component-scan>
	
	<!-- 开启 spring mvc 配置-->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 将静态资源（css，js）交给servlet容器内置的名字叫default的servlet处理 -->
	<mvc:default-servlet-handler/>
	
	<mvc:view-controller path="/" view-name="index"/>
	<mvc:view-controller path="/user/toLogin" view-name="login"/>
	
	<!-- 图片访问仓库 -->
	<mvc:resources location="file:d:/upload/" mapping="/pic/**" />
	
	
	
	<!-- 整合thymeleaf -->
	<bean id="thymeleaf" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="/templates/" />
		<property name="suffix" value=".html" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="templateMode" value="HTML" />
		<property name="cacheable" value="false" />
	</bean>
	
	<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
		<property name="templateResolver" ref="thymeleaf" />
	</bean>
	
	<bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>
	
	<!-- 文件上传解析器 id必须是multipartResolver-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="2097152" />
	</bean>
	
	
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 配置需要拦截的地址 -->
			<mvc:mapping path="/**" />
			<!-- 配置不需要拦截的 -->
			<mvc:exclude-mapping path="/static/**" />
			<mvc:exclude-mapping path="/code" />
			<mvc:exclude-mapping path="/user/toLogin" />
			<mvc:exclude-mapping path="/user/login" />
			<bean class="com.etoak.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	
</beans>